.had {
  max-width: 1024px;
  width: 100%;
  height: 300px;
  background-color: #0a22f4;
  border-radius: 15px;
  margin: -10px auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* .logo {
  border: solid;
  position: relative;
} */

.widthClass {
  max-width: 1024px;
  width: 100%;

  /* border: solid; */
  margin: 0 auto;
}

.FotoSection {
  display: flex;
  justify-content: center;
  margin-top: -80px;
  /* border: solid; */
}

.foto1 {
  max-width: 1024px;
  width: 100%;
  height: 300px;
}

.textdiv1 {
  display: flex;
  justify-content: center;
}

.h1 {
  color: #171717;
  font-size: 18px;
}

.fotoebisqrol {
  display: flex;
  justify-content: center;
  /* border: solid; */
  gap: 10px;
}

.paragraftext {
  color: #171717;
  font-size: 14px;
}

.clickinfosection {
  /* border: solid; */
  display: flex;
  justify-content: center;
}

.clickinfo {
  width: 300px;
  height: 60px;
  /* border: solid; */
  background-color: #0a22f4;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 28px;
  cursor: pointer;
  color: #ffffff;
}

.footer {
  background-color: #0a22f4;
  height: 500px;
  margin-top: 50px;
}

.kontainer {
  width: 60%;

  border: solid;
  margin: auto;
}

.h2 {
  color: #ffffff;
  font-size: 18px;
}

.label1 {
  color: #ffffff;
  font-size: 13px;
}

.gagzavnaflex {
  display: flex;
  justify-content: center;
}

.gagzavnabutton {
  width: 200px;
  height: 40px;
  background-color: #ffffff;
  color: #171717;
  border-radius: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin-top: 50px;
}

@media (max-width: 1024px) {
  .fotoebisqrol {
    display: grid;
    grid-template-columns: repeat(3, 0fr);
    gap: 10px;
    margin-left: 15px;
  }

  .kontainer {
    width: 95%;

    border: solid;
    margin: auto;
  }
}
